{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-md-center">
    <div class="col-md-7">
      <h1 class="display-2">Em comum</h1>
      <p>
        Já pensou em apresentar duas pessoas por elas terem algo em comum? E que desse encontro poderia rolar um match?
      </p>

      <p>
        Nós do comum acreditamos que aproximar pessoas é a maneira
        mais simples de encontrar: soluções para nossos afetos, alguém
        para dividir uma casa, para acampar, indicar alguém para te
        substituir no trabalho, sair daquele capitulo da tese de
        doutorado que está travado, compor aquela canção, a parceria
        para um Job.
      </p>
      <p>
        Por isso criamos o em comum, uma plataforma simples para
        conectar pessoas :)
      </p>

      <p>
        Insira os emails das pessoas que você deseja conectar e escreva um texto apresentando as duas e pronto!
        Cada uma delas vai receber uma cópia da sua mensagem!
      </p>
    </div>
  </div>
  <hr width="200px" />
  <div class="row justify-content-md-center">
    <div class="col-md-7">
      <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Seus dados</label>
          <div class="form-row">
            <div class="col">
              {{ form.host_name | as_crispy_field }}
            </div>
            <div class="col">
              {{ form.host_email | as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Pessoa 1</label>
          <div class="form-row">
            <div class="col">
              {{ form.guest1_name | as_crispy_field }}
            </div>
            <div class="col">
              {{ form.guest1_email | as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Pessoa 2</label>

          <div class="form-row">
            <div class="col">
              {{ form.guest2_name | as_crispy_field }}
            </div>
            <div class="col">
              {{ form.guest2_email | as_crispy_field }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Apresentação</label>
          {{ form.message | as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Apresentar</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="link" href="{% url 'about' %}">Sobre</a>
    </div>
  </div>
</div>
{% endblock content %}
